// Colors

$white: #ffffff;
$linen: #faede0;
$heavy-metal: #050505;

$color-primary: $linen;
$color-secondary: $heavy-metal;

// Spacers

$spacer: 5px;
$spacer--small: 10px;
$spacer--medium: 15px;
$spacer--large: 20px;
$spacer--extra-large: 25px;
