// Import main vaiables
@import "main";

$navbar-item-color: $light;
$navbar-background-color: $black;

$navbar-item-hover-color: $red;
$navbar-item-hover-background-color: transparent;

$navbar-item-active-color: $red;
$navbar-item-active-background-color: transparent;
